<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>
    <a routerLink="/home" class="filmserve">{{ title }}</a>
  </div>
  <span class="nav-tool-items" *ngIf="isLoggedIn == 'none'">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a
      mat-button
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
      >Register</a
    >
  </span>
  <span class="nav-tool-items" *ngIf="isLoggedIn != 'none'">
    <a mat-button (click)="logout()">Logout</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
