<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div *ngFor="let item of films">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ item.ticket_price }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
